.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item9 {
  width: 30%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-value9 {
  width: 30%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-item10 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-value10 {
  width: 20%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}


.detail-item11 {
  width: 30%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-value11 {
  width: 30%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.head1{
  justify-content: space-between;
}

.thanks{
  font-size: 30px;
  text-align: left;
   margin-left: 40px;
}

.backs{
  font-size: 25px;
  text-align: right;
  margin-right: 40px;
}
.mainbody{
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.order-title{
  text-align: center;
  font-size: 40px;
  background-color: red;
  color: white;
}